<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.thundersoft.codingnight">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".acitivity.NewMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".acitivity.AwardActivity" />
        <activity android:name=".acitivity.AddAwardActivity" />

        <activity android:name=".acitivity.DataActivity" />
        <activity android:name=".acitivity.LuckyDrawActivity" />
        <activity android:name=".acitivity.AwardDetailActivity" />
        <activity android:name=".acitivity.SearchActivity" />

        <provider
            android:name=".db.AwardAndEmployeeInfoProvider"
            android:authorities="tscodingnight" />
    </application>

</manifest>